body, html {
    margin:0;
    padding:0;
    font-size: 16px;
}
img.preview {
    object-fit: cover;
    height: 200px;
    width: 200px;
    border-radius: 10px;
    max-width: 40vw;
}
ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style-type: none;
    justify-content: space-around;
}
li {
    margin: 1em;
    flex: 0;
}

li, a {
    display: flex;
    flex-direction: column;
}
a, a:visited, a:hover {
    text-decoration: none;
    color: black;
    font-size: larger;
}
body {
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1 {
    font-size: 3em;
    font-weight: 100;
    text-align: center;
}
.file-details {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.form {
	display: flex;
	flex-direction: column;
	box-shadow: 0 2px 10px rgba(0,0,0,0.05);
	padding: 0.5em;
	margin: 0.5em;
	border-radius: 2px;
	border: 0.5px solid #ddd;
	min-width: 200px;
}
.row {
	display: flex;
	flex-direction: column;
	flex: 1;
	margin-top: 0.25em;
}
#file-name {
	margin-left: 1em;	
}

.file-explorer {
	display: flex;
	flex-direction: column;
	background: linear-gradient(#f6f6f6 0%, #eee 100%);
	border: 1px solid #ccc;
	border-left-color: #ddd;
	border-right-color: #ddd;
	border-top-color: #f6f6f6;
	border-radius: 5px;
	margin: 1em;
	padding: 1em;
}

.folder:before {
	content: "📁";
}

.file-explorer li {
	flex: 1;
	margin: 0.5em;
	flex-direction: row;
}

.footer {
	display: flex;
	justify-content: flex-end;
	margin-top: 0.5em;
}
.picture-form {
	display: flex;
}
.picture-form .options {
	justify-self: flex-end;
}
input, label {
	flex: 1;
}