body, html {
    margin:0;
    padding:0;
}
img.preview {
    object-fit: cover;
    height: 200px;
    width: 200px;
    border-radius: 10px;
    max-width: 40vw;
}
ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style-type: none;
    justify-content: space-around;
}
li {
    margin: 1em;
    flex: 0;
}

li, a {
    display: flex;
    flex-direction: column;
}
a, a:visited, a:hover {
    text-decoration: none;
    color: black;
    font-size: larger;
}
body {
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1 {
    font-size: 3em;
    font-weight: 100;
    text-align: center;
}